// fonts
@import url(https://fonts.google.com/specimen/Red+Hat+Display)
$redHatDisplay: 'Red Hat Display'

// colours
$paleBlue: hsl(225, 100%, 94%)
$brightBlue: hsl(245, 75%, 52%)

body
    margin: 0

.bg-container
    background-image: url("/images/pattern-background-desktop.svg")
    background-size: contain
    background-repeat: no-repeat
    background-color: $paleBlue
    width: 100%
    height: 100vh
